<script lang="ts">
	import todos from 'application/store';
	import { listTodos } from 'application/commands';
	import TodoComponent from 'application/components/Todo.svelte';
	import CreateTodoForm from 'application/components/CreateTodoForm.svelte';

	$: todoList = Object.values($todos);
</script>

<todo-page>
	<h1>Your Todos:</h1>
	{#await listTodos()}
		<div class="panel text-center">loading...</div>
	{:then}
		<CreateTodoForm />
		{#if todoList.length}
			<ul>
				{#each todoList as todo}
					<TodoComponent {todo} />
				{/each}
			</ul>
		{:else}
			<div class="panel">yay, no todos :)</div>
		{/if}
	{:catch ex}
		<span>Error:</span>
		<pre>{JSON.stringify(ex)}</pre>
	{/await}
</todo-page>

<style>
	todo-page {
		display: block;
		width: 100%;
		max-width: 800px;
	}

	ul {
		margin-top: 1rem;
		padding: 0;
	}

	:global(ul > li) {
		margin-bottom: 1rem;
	}

	:global(input) {
		font-size: 1rem;
	}
</style>
