<script lang="ts">
	import { createTodo } from 'application/commands';
	import type { CreateTodoRequest } from 'domain/dtos';

	let todo: CreateTodoRequest;
	let submitting = false;
	let error: string | null = null;

	resetTodo();

	function resetTodo() {
		todo = {
			title: 'new todo',
			done: false,
		};
	}

	async function onSubmit() {
		error = null;
		submitting = true;
		try {
			await createTodo(todo);
			resetTodo();
		} catch (ex) {
			error = JSON.stringify(ex);
		} finally {
			submitting = false;
		}
	}

	function focusSelect(el: HTMLInputElement) {
		el.focus();
		el.select();
	}
</script>

<div class="panel empty">
	<form on:submit|preventDefault={onSubmit}>
		<input disabled={submitting} type="text" name="title" bind:value={todo.title} use:focusSelect />
		<input disabled={submitting} type="submit" value="create" />
	</form>
	{#if error}
		<pre>{error}</pre>
	{/if}
</div>
