<script lang="ts">
	import type { Todo } from 'domain/entities';
	import { deleteTodo, updateTodo } from 'application/commands';

	export let todo: Todo;

	let form: HTMLFormElement;

	async function onDelete({ target }: Event) {
		const targetElement = target as HTMLButtonElement;
		targetElement.disabled = true;

		try {
			await deleteTodo(todo.id);
		} finally {
			targetElement.disabled = false;
		}
	}

	async function onCheck({ target }: Event) {
		const targetElement = target as HTMLInputElement;
		targetElement.disabled = true;

		try {
			await updateTodo({
				id: todo.id,
				done: (target as HTMLInputElement).checked,
			});
		} finally {
			targetElement.disabled = false;
		}
	}
</script>

<li>
	<dl class="panel primary">
		<dt>
			<label class="text-ellipsis">
				<input type="checkbox" name="done" checked={todo.done} on:change={onCheck} />
				<span>{todo.title}</span>
			</label>
			<button on:click={onDelete} type="button">🗑</button>
		</dt>
		{#if todo.content}
			<dd>{todo.content}</dd>
		{/if}
	</dl>
</li>

<style>
	li {
		list-style: none;
	}

	dt {
		font-weight: bold;

		display: flex;
		column-gap: 1rem;
		align-items: center;
	}

	button {
		width: 2rem;
		height: 2rem;
	}

	input[name='done']:checked ~ span {
		text-decoration: line-through;
	}

	label {
		background: none;
		border: none;
		width: 100%;
	}
</style>
