:root {
	color-scheme: dark light;

	--color-primary: #7b5ffa;
	--color-primary-variant: #412eb3;
	--color-secondary: #d4d956;
	--color-secondary-variant: #aeac2d;
	--color-on-primary: #222;
	--color-on-secondary: #222;
	--color-on-background: #222;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #412eb3;
		--color-primary-variant: #7b5ffa;
		--color-secondary: #aeac2d;
		--color-secondary-variant: #d4d956;
		--color-on-primary: #ccc;
		--color-on-secondary: #222;
		--color-on-background: #ccc;
	}
}

html {
	font-size: 18px;
	color: var(--color-on-background);
}

body {
	min-height: 100vh;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

/* less aggressive default style reset */
input,
textarea,
button,
select {
	font: inherit;
}

.panel {
	padding: 1rem;
	margin-top: 1rem;
	border-radius: 0.5rem;
	border: 1px solid transparent;
}

.panel.empty {
	border: 1px dashed var(--color-on-background);
}

.panel.primary {
	background-color: var(--color-primary);
	color: var(--color-on-primary);
}

.panel.secondary {
	background-color: var(--color-secondary);
	color: var(--color-on-secondary);
}

.text-center {
	text-align: center;
}

.text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
